<html>
<body>
<h2>Result Page</h2>
<form action="submit" method="post">
    <label for="science">Science:</label><br>
    <input type="number" id="science" name="science" required><br>
    <label for="maths">Maths:</label><br>
    <input type="number" id="maths" name="maths" required><br>
    <label for="english">English:</label><br>
    <label for="datascience">Data Science:</label><br>
    <input type="number" id="datascience" name="datascience" required><br>
    <input type="number" id="english" name="english" required><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>